/* || Reset */
:root {
  --font-family-base: var(--font-fira-code), monospace;
  --font-family-heading: var(--font-playfair-display), serif;

  /* Typography scale */
  --scale: var(--golden-ratio);

  --x-smal: calc(1em * pow(var(--scale), -0.5));
  --small: calc(1em * pow(var(--scale), -0.125));
  --medium: 1em;
  --large: calc(1em * pow(var(--scale), 1));
  --x-large: calc(1em * pow(var(--scale), 2));
  --xx-large: calc(1em * pow(var(--scale), 3));
  --xxx-large: calc(1em * pow(var(--scale), 4));

  --golden-ratio: calc((1 + sqrt(5)) / 2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: var(--font-family-base);
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

p, li, figcaption {
  text-wrap: pretty;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em
}

