/* || Reset */
:root {
  --font-family-base: var(--font-inter), system-ui, sans-serif;

  /* Typography scale */
  --scale: var(--golden-ratio);

  --xx-small: calc(1em * pow(var(--scale), -0.5));
  --x-small: calc(1em * pow(var(--scale), -0.25));
  --small: calc(1em * pow(var(--scale), -0.125));
  --medium: 1em;
  --large: calc(1em * pow(var(--scale), 1));
  --x-large: calc(1em * pow(var(--scale), 2));
  --xx-large: calc(1em * pow(var(--scale), 3));
  --xxx-large: calc(1em * pow(var(--scale), 4));

  --golden-ratio: calc((1 + sqrt(5)) / 2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  scroll-behavior: smooth;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: var(--font-family-base);
}

body {
  margin: 0;
  min-height: 100vh;
  line-height: 1.5;
  background: #1E1E1E;
  color: #D9D9D9;
  max-width: 70em;
  padding: 2em;
  margin: 0 auto;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

p, li, figcaption {
  text-wrap: pretty;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em
}

.wrapper {
  /* height: 100vh; */
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

/* || Main Nav */
.main-nav {
  position: sticky;
  top: 0;
  padding: .8em;
  width: fit-content;
  margin-left: auto;
  background: #1E1E1E;
  font-size: clamp(1em, var(--large), 1.25em);

  a {
    color: #D9D9D9;
  }
}


/* || Main Header */
.main-header {
  padding-bottom: 3em;

  .heading {
    display: flex;
    flex-direction: column;
    font-size: var(--xx-large);
    gap: .18em;
    margin-block-end: .8em;

    .sub-heading {
      font-size: 26px;
    }
  }
}

/* || Home sections  */

.home-section {
  .home-section-heading {
    margin-block-end: 1.5em;
  }
  padding-bottom: 3em;
}
