---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import ExperienceCard from "../components/ExperienceCard.astro";
import ContactForm from "../components/ContactForm.astro";
import * as data from "../data.json";

const pageTitle = "Arno Volts";

const experiences = data.experiences;
---

<Layout {pageTitle}>

  <Navigation />
  <header id="top" class="main-header">
    <div class="main-header-body">
      <h1 class="heading">
        <span>Arno Volts</span>
        <span class="sub-heading">Junior Web Developer</span>
      </h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a efficitur
        odio, a ultricies orci. Praesent sit amet vulputate justo, a hendrerit
        dolor. Phasellus eu odio ut sem aliquam faucibus. Mauris id augue
        ultricies, cursus ex vitae, placerat neque. Integer ut dui nunc.
      </p>
    </div>
  </header>
  <main>
    <section class="home-section">
      <h2 class="home-section-heading">The Journey So Far</h2>

      {
        experiences.map((exp) => (
          <ExperienceCard
            years={exp.years}
            company={exp.company}
            description={exp.description}
          />
        ))
      }
    </section>

    <section class="home-section"id="about">
      <h2 class="home-section-heading">A little About Me</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a efficitur
        odio, a ultricies orci. Praesent sit amet vulputate justo, a hendrerit
        dolor. Phasellus eu odio ut sem aliquam faucibus. Mauris id augue
        ultricies, cursus ex vitae, placerat neque. Integer ut dui nunc.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a efficitur
        odio, a ultricies orci. Praesent sit amet vulputate justo, a hendrerit
        dolor. Phasellus eu odio ut sem aliquam faucibus. Mauris id augue
        ultricies, cursus ex vitae, placerat neque. Integer ut dui nunc.
      </p>
    </section>

    <section class="home-section" id="contact">
      <h2 class="home-section-heading">Send Me A Message</h2>
      <div>
        <ContactForm />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
          sed nisi sed urna convallis facilisis. Nulla at aliquet magna. Proin nec
          leo id ipsum tincidunt eleifend.
        </p>
      </div>
    </section>
  </main>
</Layout>
