<form>
  <input type="text" name="name" />
  <input type="email" name="email" />
  <input type="text" name="subject" />
  <textarea rows="5" cols="15" name="message">
  </textarea>
  <button type="submit">Send</button>
</form>
