<form class="contact-form">
  <label for="name"> Name </label>
  <input id="name" type="text" name="name" required />

  <label for="email"> Email </label>
  <input id="email" type="email" name="email" required />

  <label for="subject"> Subject </label>
  <input id="subject" type="text" name="subject" required />

  <label for="message"> Message </label>
  <textarea id="message" name="message" required> </textarea>

  <button class="contact-form-submit-btn" type="submit">Send</button>
</form>
