<nav class="main-nav">
  <ul role="list">
    <li>
      <a href="#top">Home</a>
      <li>
        <a href="#about">About</a>
        <li><a href="#contact">Contact</a></li>
      </li>
    </li>
  </ul>
</nav>
